<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NewsPage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: #eeebdd;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="#">Penny Traders</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="header-dark" style="height: 7vh;color: #810000;background: #810000;margin: -2vh;min-height: none;">
        <div class="container hero">
            <div class="row" style="height: 150.000px;max-height: 0px;margin: 56px;">
                <div class="col-md-8 offset-md-2 text-center" style="height: 97.625px;">
                    <h1 class="text-center" style="font-size: 5vw;font-family: Catamaran, sans-serif;font-weight: bold;">Stock News</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="row" style="margin: 0px;padding: 33px;padding-top: 23px;padding-bottom: 23px;height: 200px;">
        <div class="col">
            <h1 style="text-align: center;font-family: Catamaran, sans-serif;font-weight: bold;">Choose a Stock</h1>
            <div class="d-xl-flex justify-content-xl-center"><input class="d-xl-flex justify-content-xl-center" type="text" style="height: 48px;width: 260px;"><button class="btn btn-primary" type="button" style="background: #810000;">Search</button></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>